@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;500;600;700&display=swap");

:root {
  --primary-colour: var(--primary-color);
  --secondary-colour: var(--secondary-color);
  --primary-font-colour: var(--white-global);
  --secondary-font-colour: var(--black-global);
  --font: "PT Sans", sans-serif;
  --card-width: 15em;
  --card-max-width: 90vw;
  --card-img-height: 20em;
  --component-desc-color: #464d5f;
}

* {
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}

.site-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  margin-left: 5em;
  margin-top: 7em;
  overflow-y: auto;
}

.nav-main-heading {
  font-size: 1.3rem;
  padding: 0.2em 0.5em;
  border-radius: 0.2em;
  display: block;
  width: 100%;
  color: var(--primary-color);
  font-weight: bold;
  margin-top: 0.6em;
}

.nav-sub-heading {
  font-size: 1.07rem;
  padding: 0.2em 0.5em;
  border-radius: 0.2em;
  display: block;
  width: 93%;
  color: var(--secondary-color);
  margin-top: 0.3em;
  margin-left: 0.5em;
}

.nav-sub-heading:hover {
  background-color: var(--primary-color);
}

.nav-sub-heading > a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: var(--secondary-color);
}

.nav-sub-heading:hover > a {
  color: var(--white-global) fff;
}

.nav-comp-section {
  margin-top: 0.5em;
  padding-left: 0.5em;
}

.component-links {
  list-style: none;
  margin-bottom: 0.5em;
  font-size: 1.1rem;
  border-radius: 0.2em;
}

.component-links:hover {
  background-color: var(--primary-color);
}

.component-links > a {
  display: block;
  text-decoration: none;
  padding: 0.2em 0.5em;
  border-radius: 0.2em;
  color: var(--secondary-color);
  width: 100%;
}

.component-links:hover > a {
  color: var(--white-global);
  background-color: var(--primary-color);
}

.component-display {
  max-width: 50%;
  margin-left: 25em;
  margin-top: 7em;
}

.component-display-header {
  color: var(--primary-color);
}

.sub-comp-header {
  margin-top: 2em;
  font-size: 1.4rem;
  font-weight: bold;
}

.component-display-container {
  align-items: center;
}

.component-display-container > .nav {
  display: flex;
  width: 100%;
}

.component-display-container > .nav-screen-error {
  display: none;
}

.component-description {
  font-size: 1.1rem;
  margin-left: 0.5em;
  font-family: "PT Sans", sans-serif;
  line-height: 1.5em;
  color: var(--component-desc-color);
}

.component-description b {
  font-weight: bold;
}

.highlight {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 0 0.2em;
  border-radius: 0.2em;
}

.comp-code-container {
  padding: 0;
}

.comp-code-container > code {
  border-radius: 1em;
  padding: 0;
  line-height: 1.5em;
  padding-left: 0.5em;
}

.comp-link {
  float: right;
  margin-top: 0.5em;
  margin-right: 6em;
  margin-bottom: 0.7em;
  font-size: 1.05rem;
  cursor: pointer;
  color: var(--black-global);
  text-decoration: none;
}

.comp-link:hover {
  text-decoration: underline;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
  margin-top: 2em;
}

.footer-button {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--black-global);
  font-weight: 500;
  font-size: 1.5em;
}

.footer-button > img {
  width: 2em;
  margin-top: 0.05em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

@media (max-width: 1200px) {
  .site-nav {
    margin-left: 1em;
  }

  .component-display {
    max-width: 70%;
    margin-left: 15em;
    margin-right: 1em;
    margin-top: 7em;
  }

  .page-footer {
    width: 95%;
    margin-left: 0.5em;
    margin-right: 1em;
  }
}

@media (max-width: 900px) {
  .site-nav {
    display: none;
  }

  .component-display {
    max-width: 95%;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 7em;
  }

  .component-display-container > .nav {
    display: none;
  }

  .component-display-container > .nav-screen-error {
    display: block;
  }

  .page-footer {
    width: 95%;
    margin-left: 0.5em;
    margin-right: 1em;
  }
}
