.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #011627;
  color: #d6deeb;
}
.hljs-keyword {
  color: #c792ea;
  font-style: italic;
  background: #011627;
}
.hljs-built_in {
  color: #addb67;
  font-style: italic;
  background: #011627;
}
.hljs-type {
  color: #82aaff;
  background: #011627;
}
.hljs-literal {
  color: #ff5874;
  background: #011627;
}
.hljs-number {
  color: #f78c6c;
  background: #011627;
}
.hljs-regexp {
  color: #5ca7e4;
  background: #011627;
}
.hljs-string {
  color: #ecc48d;
  background: #011627;
}
.hljs-subst {
  color: #d3423e;
  background: #011627;
}
.hljs-symbol {
  color: #82aaff;
  background: #011627;
}
.hljs-class {
  color: #ffcb8b;
  background: #011627;
}
.hljs-function {
  color: #82aaff;
  background: #011627;
}
.hljs-title {
  color: #dcdcaa;
  font-style: italic;
  background: #011627;
}
.hljs-params {
  color: #7fdbca;
  background: #011627;
}
.hljs-comment {
  color: #637777;
  font-style: italic;
  background: #011627;
}
.hljs-doctag {
  color: #7fdbca;
  background: #011627;
}
.hljs-meta {
  color: #82aaff;
  background: #011627;
}
.hljs-meta-keyword {
  color: #82aaff;
  background: #011627;
}
.hljs-meta-string {
  color: #ecc48d;
  background: #011627;
}
.hljs-section {
  color: #82b1ff;
  background: #011627;
}
.hljs-builtin-name,
.hljs-name,
.hljs-tag {
  color: #7fdbca;
  background: #011627;
}
.hljs-attr {
  color: #7fdbca;
  background: #011627;
}
.hljs-attribute {
  color: #80cbc4;
  background: #011627;
}
.hljs-variable {
  color: #addb67;
  background: #011627;
}
.hljs-bullet {
  color: #d9f5dd;
  background: #011627;
}
.hljs-code {
  color: #80cbc4;
  background: #011627;
}
.hljs-emphasis {
  color: #c792ea;
  font-style: italic;
  background: #011627;
}
.hljs-strong {
  color: #addb67;
  background: #011627;
  font-weight: 700;
}
.hljs-formula {
  color: #c792ea;
  background: #011627;
}
.hljs-link {
  color: #ff869a;
  background: #011627;
}
.hljs-quote {
  color: #697098;
  font-style: italic;
  background: #011627;
}
.hljs-selector-tag {
  color: #ff6363;
  background: #011627;
}
.hljs-selector-id {
  color: #fad430;
  background: #011627;
}
.hljs-selector-class {
  color: #addb67;
  font-style: italic;
  background: #011627;
}
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #c792ea;
  font-style: italic;
  background: #011627;
}
.hljs-template-tag {
  color: #c792ea;
  background: #011627;
}
.hljs-template-variable {
  color: #addb67;
  background: #011627;
}
.hljs-addition {
  color: #addb67ff;
  font-style: italic;
  background: #011627;
}
.hljs-deletion {
  color: #ef535090;
  font-style: italic;
  background: #011627;
}
