:root {
  --shadow-color: rgb(63, 64, 95);
}

.responsive-flexible {
  width: 100%;
  height: auto;
  box-shadow: 5px 5px 3px var(--shadow-color);
}

.responsive-scale-down {
  max-width: 100%;
  height: auto;
  box-shadow: 5px 5px 3px var(--shadow-color);
}

.responsive-fixed-max-width {
  width: 100%;
  max-width: 35rem;
  height: auto;
  box-shadow: 5px 5px 3px var(--shadow-color);
}

.responsive-circle img {
  width: 35rem;
  height: 35rem;
}

img.round {
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin: auto;
  padding: auto;
  box-shadow: 5px 5px 3px var(--shadow-color);
}
