<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Toast</title>
    <link rel="stylesheet" href="../../../css/header.css" />
    <link rel="stylesheet" href="../../../css/main.css" />
    <link rel="stylesheet" href="../../../css/comp-page.css" />
    <link rel="stylesheet" href="../../../css/utilities.css" />
    <link rel="stylesheet" href="./toast.css" />
    <link rel="shortcut icon" href="../../../images/simpleUIlogo.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="../../../images/simpleUIlogo.png" />
    <link rel="stylesheet" href="../../../css/night-owl.css">
</head>

<body>
    <header class="header">
        <a class="page-profile-link" href="../../../index.html">
            <span class="page-profile">
                <img class="page-profile-logo" src="../../../images/simpleUIlogo.png" width="2em" alt="" />
                <span class="page-profile-title">Simple UI</span>
            </span>
        </a>
    </header>
    <nav class="site-nav">
        <div class="nav-main-heading">Getting Started</div>

        <div class="nav-sub-heading nav-getstarted">
            <a href="../../howToUse.html">Usage</a>
        </div>

        <div class="nav-main-heading">Components</div>
        <ul class="nav-comp-section">
            <li class="component-links">
                <a href="../Avatar/avatar.html">Avatar</a>
            </li>
            <li class="component-links">
                <a href="../Alert/alert.html">Alert</a>
            </li>
            <li class="component-links">
                <a href="../Badge/badge.html">Badge</a>
            </li>
            <li class="component-links">
                <a href="../Button/button.html">Button</a>
            </li>
            <li class="component-links">
                <a href="../Card/card.html">Card</a>
            </li>
            <li class="component-links">
                <a href="../Image/image.html">Image</a>
            </li>
            <li class="component-links">
                <a href="../Input/input.html">Input</a>
            </li>
            <li class="component-links">
                <a href="../List/list.html">List</a>
            </li>
            <li class="component-links">
                <a href="../Navigation/navigation.html">Navigation</a>
            </li>
            <li class="component-links">
                <a href="../Toast/toast.html">Toast</a>
            </li>
            <li class="component-links">
                <a href="../Text/text.html">Text</a>
            </li>
        </ul>
    </nav>
    <main class="component-display">
        <h1 class="component-display-header">Toast</h1>
        <pre class="comp-code-container"><code class="html">
    @import url("https://si-mpleui.netlify.app/pages/components/Toast/toast.css");
    &lt;link rel="stylesheet" 
    href="https://si-mpleui.netlify.app/pages/components/Toast/toast.css">
            </code></pre>
        <br />
        <div class="row">
            <div class="toast">
                <div class="toast-header toast-primary">
                    <strong class="push-to-right">My Simple Toast</strong>
                    <small>5 mins ago</small>
                    <button type="button" class="btn-close ms-2 mb-1">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="toast-body">
                    Hello, world! This is a toast message.
                </div>
            </div>
            <div class="toast">
                <div class="toast-header toast-secondary">
                    <strong class="push-to-right">My Simple Toast</strong>
                    <small>5 mins ago</small>
                    <button type="button" class="btn-close ms-2 mb-1">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="toast-body">
                    Hello, world! This is a toast message.
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="toast">
                <div class="toast-header toast-warning">
                    <strong class="push-to-right">My Simple Toast</strong>
                    <small>5 mins ago</small>
                    <button type="button" class="btn-close ms-2 mb-1">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="toast-body">
                    Hello, world! This is a toast message.
                </div>
            </div>
            <div class="toast">
                <div class="toast-header toast-info">
                    <strong class="push-to-right">My Simple Toast</strong>
                    <small>5 mins ago</small>
                    <button type="button" class="btn-close ms-2 mb-1">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="toast-body">
                    Hello, world! This is a toast message.
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="toast">
                <div class="toast-header toast-error">
                    <strong class="push-to-right">My Simple Toast</strong>
                    <small>5 mins ago</small>
                    <button type="button" class="btn-close ms-2 mb-1">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="toast-body">
                    Hello, world! This is a toast message.
                </div>
            </div>
            <div class="toast">
                <div class="toast-header toast-success">
                    <strong class="push-to-right">My Simple Toast</strong>
                    <small>5 mins ago</small>
                    <button type="button" class="btn-close ms-2 mb-1">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="toast-body">
                    Hello, world! This is a toast message.
                </div>
            </div>
        </div>
        <br />
        <p class="component-description">
            The toasts can be customized to six basic styles, <span class="highlight">toast-primary</span> (primary
            color),<span class="highlight">toast-success</span> (green), <span class="highlight">toast-warning</span>
            (yellow), <span class="highlight">toast-info</span> (blue) <span class="highlight">toast-error</span> (red)
            and
            <span class="highlight">toast-secondary</span>(secondary color).
        </p>
        <pre class="comp-code-container">
            <code class="html">
                &lt;div class="toast">
                    &lt;div class="toast-header toast-success">
                        &lt;strong class="push-to-right">My Simple Toast&lt;/strong>
                        &lt;small>5 mins ago&lt;/small>
                        &lt;button type="button" class="btn-close ms-2 mb-1">
                            &lt;span aria-hidden="true">&lt;/span>
                        &lt;/button>
                    &lt;/div>
                    &lt;div class="toast-body">
                        Hello, world! This is a toast message.
                    &lt;/div>
                &lt;/div>
            </code>
        </pre>

        <footer class="page-footer">
            <a href="../Navigation/navigation.html" class="footer-button">
                <img src="../../../images/previous-arrow.svg" alt="" />Navigation
            </a>
            <a href="../Text/text.html" class="footer-button">
                Text
                <img src="../../../images/forward-arrow.svg" alt="" />
            </a>
        </footer>
    </main>
    <script src="../../../src/colorTheme.js"></script>
    <script src="../../../src/helper.js"></script>
    <script>
        hljs.highlightAll();
    </script>
</body>

</html>