<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Badge</title>
    <link rel="stylesheet" href="../../../css/header.css" />
    <link rel="stylesheet" href="../../../css/main.css" />
    <link rel="stylesheet" href="../../../css/comp-page.css" />
    <link rel="stylesheet" href="../../../css/utilities.css" />
    <link rel="stylesheet" href="./badge.css" />
    <link rel="stylesheet" href="../Avatar/avatar.css" />
    <link rel="shortcut icon" href="../../../images/simpleUIlogo.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="../../../images/simpleUIlogo.png" />
    <link rel="stylesheet" href="../../../css/night-owl.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header class="header">
        <a class="page-profile-link" href="../../../index.html">
            <span class="page-profile">
                <img class="page-profile-logo" src="../../../images/simpleUIlogo.png" width="2em" alt="" />
                <span class="page-profile-title">Simple UI</span>
            </span>
        </a>
    </header>
    <nav class="site-nav">
        <div class="nav-main-heading">Getting Started</div>

        <div class="nav-sub-heading nav-getstarted">
            <a href="../../howToUse.html">Usage</a>
        </div>

        <div class="nav-main-heading">Components</div>
        <ul class="nav-comp-section">
            <li class="component-links">
                <a href="../Avatar/avatar.html">Avatar</a>
            </li>
            <li class="component-links">
                <a href="../Alert/alert.html">Alert</a>
            </li>
            <li class="component-links">
                <link rel="stylesheet" href="./avatar.css" />
                <a href="../Badge/badge.html">Badge</a>
            </li>
            <li class="component-links">
                <a href="../Button/button.html">Button</a>
            </li>
            <li class="component-links">
                <a href="../Card/card.html">Card</a>
            </li>
            <li class="component-links">
                <a href="../Image/image.html">Image</a>
            </li>
            <li class="component-links">
                <a href="../Input/input.html">Input</a>
            </li>
            <li class="component-links">
                <a href="../List/list.html">List</a>
            </li>
            <li class="component-links">
                <a href="../Navigation/navigation.html">Navigation</a>
            </li>
            <li class="component-links">
                <a href="../Toast/toast.html">Toast</a>
            </li>
            <li class="component-links">
                <a href="../Text/text.html">Text</a>
            </li>
            <li class="component-links">
                <a href="../Modal/modal.html">Modal</a>
            </li>
            <li class="component-links">
                <a href="../Grid/grid.html">Grid</a>
            </li>
            <li class="component-links">
                <a href="../Rating/rating.html">Rating</a>
            </li>
        </ul>
    </nav>
    <main class="component-display">
        <h1 class="component-display-header">Badge</h1>
        <pre class="comp-code-container"><code class="html">
    @import url("https://si-mpleui.netlify.app/pages/components/Badge/badge.css");
    &lt;link rel="stylesheet" 
    href="https://si-mpleui.netlify.app/pages/components/Badge/badge.css">
            </code></pre>
        <br />
        <div class="row">
            <span class="badge bg-error">Primary</span>
            <span class="badge bg-success">Success</span>
            <span class="badge bg-warning">Warning</span>
            <span class="badge bg-info">Info</span>
        </div>
        <br />
        <p class="component-description">
            The badges can be customized to four styles, <span class="highlight">bg-success</span> (green), <span
                class="highlight">bg-warning</span> (yellow), <span class="highlight">bg-info</span> (blue) <span
                class="highlight">bg-error</span> (red).
        </p>
        <pre class="comp-code-container">
            <code class="html">
                &lt;span class="badge bg-error">Primary&lt;/span>
                &lt;span class="badge bg-success">Success&lt;/span>
                &lt;span class="badge bg-warning">Warning&lt;/span>
                &lt;span class="badge bg-info">Info&lt;/span>
            </code>
        </pre>
        <!-- badge on icons start-->
        <h2 class="sub-comp-header">Badge on Icons</h2>
        <div class="row">
            <div class="badge-container">
                <span class="badge-round-sm badge-primary">
                    <p>4</p>
                </span>
                <div class="icon">
                    <i class="fa-solid fa-paper-plane"></i>
                </div>
            </div>
            <div class="badge-container">
                <span class="badge-round-sm badge-primary">
                    <p>3</p>
                </span>
                <div class="icon">
                    <i class="fa-solid fa-bell"></i>
                </div>
            </div>
            <div class="badge-container">
                <span class="badge-round-sm badge-primary">
                    <p>11</p>
                </span>
                <div class="icon">
                    <i class="fa-solid fa-cart-flatbed"></i>
                </div>
            </div>
            <div class="badge-container">
                <span class="badge-round-sm badge-primary">
                    <p>8</p>
                </span>
                <div class="icon">
                    <i class="fa-solid fa-heart"></i>
                </div>
            </div>
            <div class="badge-container">
                <span class="badge-round-sm badge-primary">
                    <p>1</p>
                </span>
                <div class="icon">
                    <i class="fa-solid fa-user"></i>
                </div>
            </div>
        </div>
        <br />
        <p class="component-description">
            The icons can be customized to five styles, <span class="highlight">fa-paper-plane</span>
            (messages/emails), <span class="highlight">fa-bell</span> (notification), <span
                class="highlight">fa-cart-flatbed</span> (shopping cart), <span class="highlight">fa-heart</span>
            (wishlist), and
            <span class="highlight">fa-user</span> (user profile).
        </p>
        <pre class="comp-code-container">
            <code class="html">
                &lt;div class="badge-container">
                    &lt;span class="badge-round-sm badge-primary">
                        &lt;p>1&lt;/p>
                    &lt;/span>
                    &lt;div class="icon">
                        &lt;i class="fa-solid fa-user">&lt;/i>
                    &lt;/div>
                &lt;/div>
            </code>
        </pre>
        <!-- badge on icons end-->
        <!-- badge on avatars start -->
        <h2 class="sub-comp-header">Badge on Avatars</h2>
        <div class="row">
            <div class="badge-container">
                <span class="badge-round-lg badge-primary">
                    <p>3</p>
                </span>
                <div class="avatar-std">
                    <img src="../../../images/user3.jpg" class="avatar" />
                </div>
            </div>
            <div class="badge-container">
                <span class="badge-round-lg badge-notification">
                    <p>12</p>
                </span>
                <div class="avatar-std">
                    <img src="../../../images/user2.jpg" class="avatar" />
                </div>
            </div>
            <div class="badge-container">
                <span class="badge-round-lg badge-success">
                    <p>6</p>
                </span>
                <div class="avatar-std">
                    <img src="../../../images/user1.jpg" class="avatar" />
                </div>
            </div>
            <div class="badge-container">
                <span class="badge-round-lg badge-fail">
                    <p>9</p>
                </span>
                <div class="avatar-std">
                    <img src="../../../images/user4.jpg" class="avatar" />
                </div>
            </div>
        </div>
        <br />
        <p class="component-description">
            The badges on avatars can be customized to four styles, <span class="highlight">badge-primary</span>
            (primary color), <span class="highlight">badge-notification</span> (yellow), <span
                class="highlight">badge-success</span> (green) <span class="highlight">badge-failure</span> (red).
        </p>
        <pre class="comp-code-container">
            <code class="html">
                &lt;div class="badge-container">
                    &lt;span class="badge-round-lg badge-fail">
                        &lt;p>9&lt;/p>
                    &lt;/span>
                    &lt;div class="avatar-std">
                        &lt;img src="../../../images/user4.jpg" class="avatar" />
                    &lt;/div>
                &lt;/div>
            &lt;/code>
        </pre>
        <!-- badge on avatars end -->
        <footer class="page-footer">
            <a href="../Avatar/avatar.html" class="footer-button">
                <img src="../../../images/previous-arrow.svg" alt="" />Alert
            </a>
            <a href="../Button/button.html" class="footer-button">
                Button
                <img src="../../../images/forward-arrow.svg" alt="" />
            </a>
        </footer>
    </main>
    <script src="../../../src/colorTheme.js"></script>
    <script src="../../../src/helper.js"></script>
    <script>
        hljs.highlightAll();
    </script>
</body>

</html>