:root {
  --transparent-color: #efcb2d00;
  --warning-background: #f3d240d8;
  --alert-error-1: #681107;
  --alert-error-2: #821509;
  --alert-error-bg: #f7d3cf;
  --alert-error-ol: #f4bdb7;
  --alert-info-link: #014a63;
  --alert-info-ol: #b3e1f1;
  --alert-info-bg: #ccebf5;
  --alert-info-font: #015c7c;
  --alert-success-link: #224704;
  --alert-success-bg: #daeace;
  --alert-success-ol: #c8dfb5;
  --alert-success-font: #2a5905;
}

.alert {
  position: relative;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert strong {
  background-color: var(--transparent-color);
  font-weight: bold;
}

.alert p {
  background-color: var(--transparent-color);
}

.alert h4 {
  background-color: var(--transparent-color);
  font-weight: bold;
}

.alert a {
  background-color: var(--transparent-color);
}

.alert-dismissible {
  padding-right: 3rem;
}

.alert-dismissible .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 1.25rem 1rem;
}

.alert-warning {
  color: var(--primary-color);
  background-color: var(--warning-background);
}

.alert-warning .alert-link {
  color: var(--primary-color);
}

button {
  border-radius: 0;
}

.alert-heading {
  color: inherit;
}

.alert-link {
  font-weight: 700;
}

.alert-success {
  color: var(--alert-success-font);
  background-color: var(--alert-success-bg);
  border-color: var(--alert-success-ol);
}

.alert-success .alert-link {
  color: var(--alert-success-link);
}

.alert-info {
  color: var(--alert-info-font);
  background-color: var(--alert-info-bg);
  border-color: var(--alert-info-ol);
}

.alert-info .alert-link {
  color: var(--alert-info-link);
}

.alert-error {
  color: var(--alert-error-2);
  background-color: var(--alert-error-bg);
  border-color: var(--alert-error-ol);
}

.alert-error .alert-link {
  color: var(--alert-error-1);
}
