:root {
  --white-pick: #fff;
}

.btn {
  position: relative;
  z-index: 2;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn-primary {
  color: var(--white-pick);
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-primary:hover {
  color: var(--white-pick);
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn-success {
  color: var(--white-pick);
  background-color: var(--success-color);
  border-color: var(--success-color);
}

.btn-success:hover {
  color: var(--white-pick);
  background-color: #346909;
  border-color: #346909;
}

.btn-info {
  color: var(--white-pick);
  background-color: var(--info-color);
  border-color: var(--info-color);
}

.btn-info:hover {
  color: var(--white-pick);
  background-color: #0283b0;
  border-color: #027ba6;
}

.btn-warning {
  color: var(--primary-color);
  background-color: var(--warning-color);
  border-color: var(--warning-color);
}

.btn-warning:hover {
  color: var(--white-pick);
  background-color: #b86f1a;
  border-color: #ae6919;
}

.btn-error {
  color: var(--white-pick);
  background-color: var(--failure-color);
  border-color: var(--failure-color);
}

.btn-error:hover {
  color: var(--white-pick);
  background-color: #772835;
  border-color: #772835;
}

.btn-link {
  font-weight: 400;
  color: var(--medium-primary-color);
  text-decoration: underline;
}

.btn-link:hover {
  font-weight: 600;
  color: var(--light-primary-color);
}

.btn-outline-primary {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-outline-primary:hover {
  color: var(--white-pick);
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn-outline-success {
  color: var(--success-color);
  border-color: var(--success-color);
}

.btn-outline-success:hover {
  color: var(--white-pick);
  background-color: var(--success-color);
  border-color: var(--success-color);
}

.btn-outline-error {
  color: var(--failure-color);
  border-color: var(--failure-color);
}

.btn-outline-error:hover {
  color: var(--white-pick);
  background-color: var(--failure-color);
  border-color: var(--failure-color);
}

.btn-outline-info {
  color: var(--info-color);
  border-color: var(--info-color);
}

.btn-outline-info:hover {
  color: var(--white-pick);
  background-color: var(--info-color);
  border-color: var(--info-color);
}

.btn-outline-warning {
  color: var(--warning-color);
  border-color: var(--warning-color);
}

.btn-outline-warning:hover {
  color: var(--white-pick);
  background-color: var(--warning-color);
  border-color: var(--warning-color);
}
