<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List</title>
    <link rel="stylesheet" href="../../../css/header.css" />
    <link rel="stylesheet" href="../../../css/main.css" />
    <link rel="stylesheet" href="../../../css/comp-page.css" />
    <link rel="stylesheet" href="../../../css/utilities.css" />
    <link rel="stylesheet" href="./list.css" />
    <link rel="shortcut icon" href="../../../images/simpleUIlogo.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="../../../images/simpleUIlogo.png" />
    <link rel="stylesheet" href="../../../css/night-owl.css">
</head>

<body>
    <header class="header">
        <a class="page-profile-link" href="../../../index.html">
            <span class="page-profile">
                <img class="page-profile-logo" src="../../../images/simpleUIlogo.png" width="2em" alt="" />
                <span class="page-profile-title">Simple UI</span>
            </span>
        </a>
    </header>
    <nav class="site-nav">
        <div class="nav-main-heading">Getting Started</div>

        <div class="nav-sub-heading nav-getstarted">
            <a href="../../howToUse.html">Usage</a>
        </div>

        <div class="nav-main-heading">Components</div>
        <ul class="nav-comp-section">
           <li class="component-links">
                <a href="../Avatar/avatar.html">Avatar</a>
            </li>
            <li class="component-links">
                <a href="../Alert/alert.html">Alert</a>
            </li>
            <li class="component-links">
                <a href="../Badge/badge.html">Badge</a>
            </li>
            <li class="component-links">
                <a href="../Button/button.html">Button</a>
            </li>
            <li class="component-links">
                <a href="../Card/card.html">Card</a>
            </li>
            <li class="component-links">
                <a href="../Image/image.html">Image</a>
            </li>
            <li class="component-links">
                <a href="../Input/input.html">Input</a>
            </li>
            <li class="component-links">
                <a href="../List/list.html">List</a>
            </li>
            <li class="component-links">
                <a href="../Navigation/navigation.html">Navigation</a>
            </li>
            <li class="component-links">
                <a href="../Toast/toast.html">Toast</a>
            </li>
        </ul>    </nav>
    <main class="component-display">
        <h1 class="component-display-header">List</h1>
        <pre class="comp-code-container"><code class="html">
    @import url("https://si-mpleui.netlify.app/pages/components/List/list.css");
    &lt;link rel="stylesheet" 
    href="https://si-mpleui.netlify.app/pages/components/List/list.css">
            </code></pre>
        <br />
        <div class="row">
            <h1>coming soon</h1>
        </div>
        <br />
        <p class="component-description">
            ...
        </p>
        <pre class="comp-code-container">
            <code class="html">
                ---
            </code>
        </pre>

        <footer class="page-footer">
            <a href="../Input/input.html" class="footer-button">
                <img src="../../../images/previous-arrow.svg" alt="" />Input
            </a>
            <a href="../Navigation/navigation.html" class="footer-button">
                Navigation
                <img src="../../../images/forward-arrow.svg" alt="" />
            </a>
        </footer>
    </main>
    <script src="../../../src/colorTheme.js"></script>
    <script src="../../../src/helper.js"></script>
    <script>
        hljs.highlightAll();
    </script>
</body>

</html>